# .env.example

APP_ENV=development

PROJECT_PATH=/home/oginaidenov/PythonProjects/agent-workflow-v2
API_TOKEN=my-api-token

GEMINI_API_KEY=my-gemini-api-key

DATABASE_URL=postgresql+asyncpg://neondb_owner:***@ep-late-credit-***-pooler.c-4.us-east-2.aws.neon.tech/neondb?ssl=require
DEBUG=True

OTEL_SERVICE_NAME=agent-workflow-v2
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:
OTEL_CONSOLE_EXPORTER=false