# .env.example

GEMINI_API_KEY=my-gemini-api-key
DATABASE_URL=postgresql+asyncpg://neondb_owner:***@ep-late-credit-***-pooler.c-4.us-east-2.aws.neon.tech/neondb?ssl=require
DEBUG=True
API_TOKEN=my-api-tolen
PROJECT_PATH=/home/oginaidenov/PythonProjects/agent-workflow-v2